@font-face {
	font-family: "national-web";
	src: url("./fonts/national/NationalWeb-Book.eot");
	src: url("./fonts/national/NationalWeb-Book.woff") format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "national-web";
	src: url("./fonts/national/NationalWeb-BookItalic.eot");
	src: url("./fonts/national/NationalWeb-BookItalic.woff") format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "national-web";
	src: url("./fonts/national/NationalWeb-Regular.eot");
	src: url("./fonts/national/NationalWeb-Regular.woff") format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "national-web";
	src: url("./fonts/national/NationalWeb-RegularItalic.eot");
	src: url("./fonts/national/NationalWeb-RegularItalic.woff") format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "national-web";
	src: url("./fonts/national/NationalWeb-Medium.eot");
	src: url("./fonts/national/NationalWeb-Medium.woff") format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "national-web";
	src: url("./fonts/national/NationalWeb-MediumItalic.eot");
	src: url("./fonts/national/NationalWeb-MediumItalic.woff") format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "national-web";
	src: url("./fonts/national/NationalWeb-Semibold.eot");
	src: url("./fonts/national/NationalWeb-Semibold.woff") format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "national-web";
	src: url("./fonts/national/NationalWeb-SemiboldItalic.eot");
	src: url("./fonts/national/NationalWeb-SemiboldItalic.woff") format('woff');
	font-weight: 600;
	font-style: italic;
}



h1,h2,h3,h4,h5{
	font-weight: bold;
}