
/* External Library Includes */
@import './imports/_reset';
@import './imports/_fonts';
@import './imports/_variables';
@import './imports/_slider';

body{
	font-family: var(--font-family);
	font-weight: 300;
}

.wrapper{
	padding: 50px;
	max-width: 800px;
}

.header{
	margin-bottom: 40px;
}

.header h1{
	font-weight: 600;	
}
